<!DOCTYPE html>
<html>
<head>
    <title>Lava Birds B&B</title>
</head>
<body>
    <div>
        <h2><%= property.name %></h2>
        <p>Island: <%= property.island %></p>
        <p>Type: <%= property.type %></p>
        <p>Description: <%= property.description %></p>
        <p>Reviews: <%= property.reviews.length %></p>
    </div>
</body>
</html>